name: Build binaries

on:
  push:
  pull_request:
  repository_dispatch:
    types: [run_build]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]

    steps:
    - uses: actions/checkout@v4
    
    - name: Install Ubuntu requirements
      if: matrix.os == 'ubuntu-latest'
      run: |
        echo "No requirements"
        #sudo apt-get update
        #sudo apt-get -y install autoconf automake bison flex gcc libelf-dev make texinfo libncurses5-dev patch python subversion wget zlib1g-dev libtool-bin python-dev bzip2 libgmp3-dev pkg-config
    
    - name: Install macOS requirements
      if: matrix.os == 'macos-latest'
      run: |
        echo "No requirements"
        #brew update
        #brew install autoconf automake openssl libelf ncurses zlib gmp wget pkg-config

    - name: Runs all the stages in the shell
      run: |
        make

    - name: Get short SHA
      id: slug
      run: echo "::set-output name=sha8::$(echo ${GITHUB_SHA} | cut -c1-8)"
    
    - name: Compress output
      run: |
        tar -zcvf build.tar.gz \
            alien-checksum-fixer/alien-checksum-fixer \
            castlevania-checksum-fixer/castlevania-checksum-fixer \
            cod-blackops-decrypter/cod-blackops-decrypter \
            cod-checksum-fixer/cod-checksum-fixer \
            dbz-checksum-fixer/dbz-checksum-fixer \
            deadspace-checksum-fixer/ds-checksum-fixer \
            diablo3-decrypter/diablo3-decrypter \
            digimon-checksum-fixer/digimon-checksum-fixer \
            dmc-decrypter/dmc-decrypter \
            ducktales-checksum-fixer/ducktales-checksum-fixer \
            dw8xl-decrypter/dw8xl-decrypter \
            ff13-decrypter/ff13-decrypter \
            ffxhd-checksum-fixer/ffxhd-checksum-fixer \
            gta5-decrypter/gta5-decrypter \
            kh25-checksum-fixer/kh25remix-checksum-fixer \
            lego-checksum-fixer/lego-checksum-fixer \
            mgs-hd-decrypter/mgs-hd-decrypter \
            mgs-pw-decrypter/mgs-pw-decrypter \
            mgs5-tpp-decrypter/mgs5-tpp-decrypter \
            naughtydog-decrypter/naughtydog-decrypter \
            nfs-rivals-decrypter/nfsrivals-decrypter \
            nfs-undercover-decrypter/nfs-undercover-decrypter \
            prototype-checksum-fixer/prototype-checksum-fixer \
            ps4-borderlands3-decrypter/ps4-borderlands3-decrypter \
            ps4-rdr2-decrypter/rdr2-decrypter \
            ps4-re-rev2-decrypter/re-revelations2-decrypter \
            re-remaster-decrypter/re-remaster-decrypter \
            re-revelations2-decrypter/re-revelations2-decrypter \
            silent-hill3-decrypter/silent-hill3-decrypter \
            sw4-checksum-fixer/sw4-checksum-fixer \
            tears2-checksum-fixer/tears2-checksum-fixer \
            toz-checksum-fixer/toz-checksum-fixer

    - uses: actions/upload-artifact@v4
      with:
        name: build-${{ steps.slug.outputs.sha8 }}-${{matrix.os}}
        path: build.tar.gz
